{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="background-one">
    <div class="link-container">
        <a class="link-one" href="https://jhancock532.github.io/link-hover-effects/">About Me</a>
    </div>
</div>
<div class="background-two link-container">
    <a class="link-two" href="https://jhancock532.github.io/link-hover-effects/">Resume</a>
</div>
<div class="background-three link-container">
    <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Projects</a>
</div>
{% endblock content %}